<% provide(:title, "Job detail") %>
<div class="container m-5">
  <%= link_to '<- Back to Jobs', jobs_path, class: "btn btn-primary" %>
  <div class="card mt-4">
    <div class="card-body">
      <h1 class="card-title text-center"><%= @job.title %></h1>
      <p class="card-text"><strong>- Company:</strong> <%= @job.company.name %></p>
      <p class="card-text"><strong>- Location:</strong> <%= @job.location %></p>
      <p class="card-text"><strong>- Type:</strong> <%= @job.job_type %></p>
      <p class="card-text"><strong>- Description:</strong></p>
      <p class="card-text"><%= @job.description %></p>
      <p class="card-text text-secondary">Posted: <%= time_ago_in_words(@job.created_at)%>  ago </p>
    </div>
  </div>
  <div class="card mt-4">
    <div class="card-body bg-secondary-subtle">
      <h4 class="card-title text-center"> Apply now </h4>
      <%= form_with url: apply_job_path(@job), local: true, data: {turbo: false} do |f| %>
        <div class="mb-3">
          <%= f.label :email, "Enter your email to apply:", class: "form-label" %>
          <%= f.email_field :email, class: "form-control", required: true %>
        </div>
        <%= f.submit "Apply for this job", class: "btn btn-warning w-100" %>
      <% end %>
    </div>
  </div>
</div>
</div>
