<div class="card mb-3">
  <div class="card-body">
    <h3 class="card-title border-bottom shadow-sm pb-3 ps-4">
      <%= link_to job.title, job_path(job), class: "text-decoration-none text-dark" %>
    </h3>
    <p class="card-text"><strong>- Company:</strong> <%= job.company.name %></p>
    <p class="card-text"><strong>- Location:</strong> <%= job.locations.map(&:province).join(', ') %></p>
    <p class="card-text"><strong>- Type:</strong> <%= job.job_type %></p>
    <p class="card-text text-secondary">Posted: <%= time_ago_in_words(job.created_at)%>  ago </p>
    <%= link_to 'View Details', job_path(job), class: "btn btn-outline-primary" %>
    <% if current_user&.admin? && !job.publish %>
      <%= link_to 'Publish', publish_admin_job_path(job), data: {turbo_method: :patch}, class: 'btn btn-success' %>
    <% end %>
  </div>
</div>