<nav class="container navbar navbar-expand-lg navbar-light bg-info-subtle">
  <div class="container-fluid">
    <%= link_to "FindJob", root_path, class: "navbar-brand fw-bold fs-3 px-3 me-5" %>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link fw-bold" %>
        </li>
        <% if admin? %>
          <li class="nav-item">
            <%= link_to "Admin Page", admin_jobs_path, class: "nav-link fw-bold" %>
          </li>
          <li class="nav-item">
            <%= link_to "Upload", upload_admin_jobs_path, class: "nav-link fw-bold" %>
          </li>
          <li class="nav-item">
            <%= link_to "Logout", logout_path, data: { turbo_method: "delete" }, class: "nav-link fw-bold" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Admin", login_path, class: "nav-link fw-bold" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
